<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574328570020-n5c5ms10pd2oj1b3ckh9683efei2glud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574328570020-n5c5ms10pd2oj1b3ckh9683efei2glud</string>
	<key>API_KEY</key>
	<string>AIzaSyD-K2K4fe3_PL3WDrqUuIyJmJyFfCQXBL8</string>
	<key>GCM_SENDER_ID</key>
	<string>574328570020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FBLA.TimeTrackApp</string>
	<key>PROJECT_ID</key>
	<string>atlas-firebase-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-firebase-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574328570020:ios:0454e9d1926483298de631</string>
</dict>
</plist>